<h2>{{data.nome}}</h2>
    <div class="mugshot">
        <img src="http://divulgacand2014.tse.jus.br/divulga-cand-2014/eleicao/2014/UF/{{data.candidaturas['2014'].uf}}/foto/{{data.mugshot}}.jpg?x=1406931687000280000000083" />
    </div>
    <div class="e2010">
      <div class="eleita"></div>
      <h3>2010</h3>
      <ul>
        <li>{{data.candidaturas['2010'].cargo|default('Não foi candidato*')}}</li>
        <li>{{data.candidaturas['2010'].uf}}&nbsp;</li>
        <li>{{data.candidaturas['2010'].partido}}&nbsp;</li>
      </ul>
      <table>
        <tr><th>Doa&ccedil;&otilde;es de campanha </th><th>R$</th></tr>
        {% if data.candidaturas['2010'].doacoes is not defined %}
          {% for n in range(4) %}
          <tr><td colspan="2"></td></tr>
          {% endfor %}
          <tr><td colspan="2">* Ou existe inconsistência no nome do candidato nas bases do TSE.</td><td></td></tr>
        {% endif %}
        {% for d in data.candidaturas['2010'].doacoes %}
          <tr><td>{{d[1].nome}}</td><td>{{(d[1].valor)|round|int|cifras}}</td></tr>
        {% endfor %}
        <tr><td>Outras</td><td>{{(data.candidaturas['2010'].outras_doacoes)|round|cifras}}</td></tr>
        <tr><th>Total: </th><th>{{(data.candidaturas['2010'].total)|round|int|cifras}}</th></tr>
      </table>
    </div>
    <div class="e2014">
      <h3>2014</h3>
      <ul>
        <li>{{data.candidaturas['2014'].cargo|default('Sem prestação*')}}</li>
        <li>{{data.candidaturas['2014'].uf}}&nbsp;</li>
        <li>{{data.candidaturas['2014'].partido}}&nbsp;</li>
      </ul>
      <table>
        <tr><th>Doa&ccedil;&otilde;es de campanha</th><th>R$</th></tr>
          {% if data.candidaturas['2014'].doacoes is not defined %}
            {% for n in range(4) %}
            <tr><td colspan="2"></td></tr>
            {% endfor %}
            <tr><td colspan="2">* Prestação parcial vazia ou não entregou a prestação.</td></tr>
          {% endif %}
          {% for d in data.candidaturas['2014'].doacoes %}
            <tr><td>{{d[1].nome}}</td><td>{{(d[1].valor)|round|int|cifras}}</td></tr>
          {% endfor %}
          <tr><td>Outras</td><td>{{(data.candidaturas['2014'].outras_doacoes)|round|cifras}}</td></tr>
          <tr><th>Total: </th><th>{{(data.candidaturas['2014'].total)|round|int|cifras}}</th></tr>
      </table>
    </div>
