<h2>{{data.nome}}</h2>
    <div class="mugshot">
    {% if data.mugshot is defined %}
            <img src="http://divulgacand2014.tse.jus.br/divulga-cand-2014/eleicao/2014/UF/{{data.candidaturas['2014'].uf}}/foto/{{data.mugshot}}.jpg?x=1406931687000280000000083" />
    {% else %}
      <img src="http://img3.wikia.nocookie.net/__cb20131028023457/dragonball/es/images/9/97/Goku-normal_mini.gif" />
    {% endif %}
    </div>

    <div class="e2010">
      <div class="eleita"></div>
      <h3>2010</h3>
      <ul>
        <li>{{data.candidaturas['2010'].cargo|default('Não foi candidato*')}}</li>
        <li>{{data.candidaturas['2010'].uf}}&nbsp;</li>
        <li>{{data.candidaturas['2010'].partido}}&nbsp;</li>
      </ul>
      <table>
        <tr><th>Doa&ccedil;&otilde;es de campanha </th><th>R$</th></tr>
        {% for d in data.candidaturas['2010'].doacoes %}
          <tr><td><span id="v_{{d[0]}}" class="verdinha-click" data-id="{{d[0]}}">{{d[1].nome}}</span></td><td>{{(d[1].valor)|round|int|cifras}}</td></tr>
        {% endfor %}

        {% for n in range(5-data.candidaturas['2010'].doacoes|length) %}
            <tr><td></td><td></td></tr>
        {% endfor %}

        {% if data.candidaturas['2014'].doacoes is not defined %}
          <tr><td>* Ou existe inconsistência no nome do candidato nas bases do TSE.</td><td></td></tr>
        {% endif %}

        <tr><td>Outras</td><td>{{(data.candidaturas['2010'].outras_doacoes)|round|cifras}}</td></tr>
        <tr><th>Total: </th><th>{{(data.candidaturas['2010'].total)|round|int|cifras}}</th></tr>
      </table>
    </div>
    <div class="e2014">
      <h3>2014</h3>
      <ul>
        <li>{{data.candidaturas['2014'].cargo|default('Sem prestação*')}}</li>
        <li>{{data.candidaturas['2014'].uf}}&nbsp;</li>
        <li>{{data.candidaturas['2014'].partido}}&nbsp;</li>
      </ul>
      <table>
        <tr><th>Doa&ccedil;&otilde;es de campanha</th><th>R$</th></tr>
          {% for d in data.candidaturas['2014'].doacoes %}
            <tr><td><span id="v_{{d[0]}}" class="verdinha-click" data-id="{{d[0]}}">{{d[1].nome}}</span></td><td>{{(d[1].valor)|round|int|cifras}}</td></tr>
          {% endfor %}

          {% for n in range(5-data.candidaturas['2014'].doacoes|length) %}
            <tr><td></td><td></td></tr>
          {% endfor %}

          {% if data.candidaturas['2014'].doacoes is not defined %}
            <tr><td>* Prestação parcial vazia ou não entregou a prestação.</td><td></td></tr>
          {% endif %}

          <tr><td>Outras</td><td>{{(data.candidaturas['2014'].outras_doacoes)|round|cifras}}</td></tr>
          <tr><th>Total: </th><th>{{(data.candidaturas['2014'].total)|round|int|cifras}}</th></tr>
      </table>
    </div>
