.tooltipster-verdinha {
	border-radius: 5px;
	background: #259b24;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.65);
	color: rgba(0, 0, 0, 1);
}
.tooltipster-verdinha .tooltipster-content {
	font-family: sans-serif;
	font-size: 12px;
	line-height: 16px;
}

.tooltipster-verdinha table { border-collapse: collapse;}

/* cabeçalho e footer */
.tooltipster-verdinha th { background: #259b24; color:#fff; padding: 16px 10px; font-size: 16px;  }

/* doações */
.tooltipster-verdinha td { padding: 12px; color: rgba(0, 0, 0, 0.85); }
.tooltipster-verdinha tr td:nth-child(2) { text-align: right; }
.tooltipster-verdinha tr:nth-child(even) td { background: #fff; }
.tooltipster-verdinha tr:nth-child(odd) td { background: #eceff1; }