.tooltipster-verdinha {
	border-radius: 2px;
	background: rgba(255,255,255, 1);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	color: rgba(0, 0, 0, 1);
}
.tooltipster-verdinha .tooltipster-content {
	font-family: sans-serif;
	font-size: 12px;
	line-height: 16px;
}

.tooltipster-verdinha th { background: #259b24; color:#fff; padding: 10px; border-bottom: 1px black solid; font-size: 20px; }
.tooltipster-verdinha td { padding: 8px; }

.tooltipster-verdinha tr td:nth-child(2) { text-align: right; }
.tooltipster-verdinha tr:nth-child(odd) { background: #d0f8ce; }