<!DOCTYPE html>
<html data-wf-site="53fe30c757394d450c1e2f03" data-wf-page="53fe30c757394d450c1e2f05">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/webflow.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/verdinhas.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Montserrat:400,700","Varela:400"]
      }
    });
  </script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/images/webclip-gallio.png">
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/images/webclip-gallio.png">
</head>
<body>
  <div class="w-hidden-small w-hidden-tiny section hero" id="Hero" data-ix="anima-scroll">
    <div class="w-container container-1175">
      <div class="w-row w-hidden-small coluna-textos-apoio">
        <div class="w-col w-col-4">
          <div class="text-block"><span class="facebook-link"></span><a class="facebook-link" target="_blank" href="http://www.facebook.com"><span class="f-link">F</span> &nbsp;&nbsp;   Facebook</a>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="text-block"><a class="twiiter-link" target="_blank" href="http://www.twitter.com"><span class="t-link">T</span> &nbsp;&nbsp;   Twitter</a>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="text-block">Proprietary &amp; Confidential</div>
        </div>
      </div>
      <div class="w-row texto-hero">
        <div class="w-col w-col-4">
          <h1>Verdinhas&nbsp;<span class="registrado">®</span></h1>
        </div>
        <div class="w-col w-col-4">
          <h1>De onde vem esse
dinheiro?</h1>
        </div>
        <div class="w-col w-col-4">
          <h1>Será que ele vai representar seus eleitores ou seus financiadores?</h1>
        </div>
      </div>
      <div class="w-row texto-apoio-2">
        <div class="w-col w-col-4">
          <div class="text-block">20&nbsp;&nbsp;&nbsp;14</div>
        </div>
        <div class="w-col w-col-4">
          <h1>Qual é o impacto
que ele causa
nas decisões do
candidato?</h1>
        </div>
        <div class="w-col w-col-4">
          <h1>Quem financia a campanha eleitoral
dos políticos?</h1>
        </div>
      </div>
      <header class="w-hidden-medium w-hidden-small nav-bar">
        <div class="w-container menu"><a class="nav-link" href="#o-que-e">O que é</a><a class="nav-link" href="#inspiracao">Inspiração</a><a class="nav-link" href="#como-funciona">Como funciona</a><a class="nav-link" href="#colabore">Colabore</a><a class="nav-link" href="#contato">Contato</a>
        </div>
      </header>
    </div>
  </div>
  <div class="w-hidden-main w-hidden-medium section hero" id="Hero-m" data-ix="anima-scroll">
    <div class="w-container container-1175">
      <div class="w-row w-hidden-small w-hidden-tiny coluna-textos-apoio">
        <div class="w-col w-col-4">
          <div class="text-block"><span class="facebook-link"></span><a class="facebook-link" target="_blank" href="http://www.facebook.com"><span class="f-link">F</span> &nbsp;&nbsp;   Facebook</a>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="text-block"><a class="twiiter-link" target="_blank" href="http://www.twitter.com"><span class="t-link">T</span> &nbsp;&nbsp;   Twitter</a>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="text-block">Proprietary &amp; Confidential</div>
        </div>
      </div>
      <div class="w-row w-hidden-small w-hidden-tiny texto-hero">
        <div class="w-col w-col-4">
          <h1>Verdinhas&nbsp;<span class="registrado">®</span></h1>
        </div>
        <div class="w-col w-col-4 w-hidden-tiny">
          <h1>De onde vem esse
dinheiro?</h1>
        </div>
        <div class="w-col w-col-4 w-hidden-tiny">
          <h1>Será que ele vai representar seus eleitores ou seus financiadores?</h1>
        </div>
      </div>
      <div class="w-row w-hidden-small w-hidden-tiny texto-apoio-2">
        <div class="w-col w-col-4">
          <div class="text-block">20&nbsp;&nbsp;&nbsp;14</div>
        </div>
        <div class="w-col w-col-4">
          <h1>Qual é o impacto
que ele causa
nas decisões do
candidato?</h1>
        </div>
        <div class="w-col w-col-4">
          <h1>Quem financia a campanha eleitoral
dos políticos?</h1>
        </div>
      </div>
      <header class="w-hidden-medium w-hidden-small w-hidden-tiny nav-bar">
        <div class="w-container menu"><a class="nav-link" href="#o-que-e">O que é</a><a class="nav-link" href="#inspiracao">Inspiração</a><a class="nav-link" href="#como-funciona">Como funciona</a><a class="nav-link" href="#colabore">Colabore</a><a class="nav-link" href="#contato">Contato</a>
        </div>
      </header>
      <img class="logo-imagem" src="images/logo.jpg" width="299" alt="53ff5a178aaca6ca0e1664ae_logo.jpg">
    </div>
  </div>
  <div class="w-hidden-small w-hidden-tiny section" id="o-que-e">
    <div class="w-container container-verdinhas">
      <div class="w-row">
        <div class="w-col w-col-4">
          <h1>Verdinhas</h1>
        </div>
        <div class="w-col w-col-8">
          <p class="paragrafo-uma-linha">A função de um político eleito é representar quem o elegeu, seja para vereador, deputado, senador, prefeito, governador ou presidente. Mas para ser eleito, o político precisa fazer uma campanha. Para fazer uma campanha, ele precisa de dinheiro.
            <br>
            <br>De onde vem esse dinheiro? Qual é o impacto que ele causa nas decisões do candidato? Uma vez eleito, será que ele vai representar seus eleitores ou seus financiadores? E se você pudesse descobrir rapidamente quem financia a campanha eleitoral
            dos políticos?</p>
        </div>
      </div>
    </div>
  </div>
  {{content}}
  <footer class="section footer">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <div class="texto-footer">2014 <a class="verdinhas-link" href="#Hero-m">Verdinhas®</a>
          </div>
        </div>
        <div class="w-col w-col-6">
          <div class="texto-footer-2"><a class="facebook-link" target="_blank" href="http://www.facebook.com">Facebook</a> &nbsp;&nbsp;&nbsp; &nbsp; <span class="t-link"><a class="t-link" target="_blank" href="http://www.twitter.com">Twitter</a></span>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <header class="w-hidden-medium w-hidden-small w-hidden-tiny nav-anima">
    <div class="w-container anima"><a class="nav-link" href="#o-que-e">O que é</a><a class="nav-link" href="#inspiracao">Inspiração</a><a class="nav-link" href="#como-funciona">Como funciona</a><a class="nav-link" href="#colabore">Colabore</a><a class="nav-link" href="#contato">Contato</a>
    </div>
  </header>
  <div class="w-nav w-hidden-main w-hidden-medium nav-mobile" data-collapse="small" data-animation="default" data-duration="400" data-contain="1" data-easing="ease-in-out" data-easing2="ease-in-out">
    <nav class="w-nav-menu menu-base" role="navigation"><a class="nav-link" href="#o-que-e-m">O que é</a><a class="nav-link" href="#inspiracao-m">Inspiração</a><a class="nav-link" href="#como-funciona-m">Como funciona</a><a class="nav-link" href="#colabore">Colabore</a><a class="nav-link" href="#contato">Contato</a>
    </nav>
    <div class="w-container container-menu">
      <a class="w-nav-brand" href="#"></a>
      <div class="w-nav-button menu-button">
        <div class="w-icon-nav-menu nav-mobile-icon"></div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>
