body {
  height: 100%;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}
h1 {
  margin: 10px 0px;
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-align: left;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin: 10px 0px 1px;
  font-family: Montserrat, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 400;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 13px;
  padding-top: 104px;
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  list-style-type: none;
}
.button {
  position: static;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: inline-block;
  margin-right: 8px;
  margin-left: 0px;
  padding: 14px 29px;
  float: left;
  border-radius: 5px;
  background-color: transparent;
  -webkit-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  text-decoration: underline;
  text-transform: none;
}
.button:hover {
  background-color: transparent;
}
.button.nav {
  margin-left: 18px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.button.nav:hover {
  background-color: #9299ad;
}
.button.big-green {
  margin-top: 191px;
  padding: 25px 22px;
  background-color: #32ac97;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 29px;
  text-transform: capitalize;
}
.button.big-green:hover {
  background-color: #258575;
}
.button.sign-up {
  background-color: #2c9986;
}
.button.sign-up:hover {
  background-color: #33b59f;
}
.section {
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #56d6cd;
}
.section.header {
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: #262933;
}
.section.hero {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
  min-height: 560px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #bfbfbf;
  text-align: center;
}
.section.grey {
  background-color: #eff1f4;
  text-align: center;
}
.section.centered {
  background-color: #bfbfbf;
  text-align: center;
}
.section.footer {
  height: auto;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #bfbfbf;
  color: black;
  text-align: left;
}
.section.form {
  padding-top: 57px;
  background-color: white;
}
.company {
  margin-top: 11px;
  float: left;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 28px;
  font-weight: 400;
}
.nav-link {
  margin-right: 4px;
  margin-left: 4px;
  -webkit-transition: color 300ms ease, background-color 300ms ease;
  -o-transition: color 300ms ease, background-color 300ms ease;
  transition: color 300ms ease, background-color 300ms ease;
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 11px;
  line-height: 23px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}
.nav-link:hover {
  color: #919191;
}
.nav-link.sign-up {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #2c9986;
}
.nav-link.sign-up:hover {
  background-color: #3ac2ab;
}
.nav-column {
  padding-top: 10px;
  text-align: center;
}
.logo {
  margin-right: 11px;
  float: left;
}
.hero-heading {
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 38px;
  font-weight: 400;
}
.hero-subhead {
  color: #a3a8b6;
  font-size: 14px;
}
.section-title {
  font-family: Montserrat, sans-serif;
  font-size: 31px;
  font-weight: 400;
  text-align: center;
}
.section-subtitle {
  margin-bottom: 43px;
  color: #848999;
  text-align: center;
}
.responsive-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.grey-icon {
  margin-right: 9px;
}
.content-column {
  padding-top: 79px;
  text-align: left;
}
.circle {
  height: 303px;
  margin-bottom: 25px;
  padding-top: 21px;
  border-radius: 190px;
  background-color: #f7f8fa;
}
.number {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: auto;
  margin-bottom: 17px;
  margin-left: auto;
  padding-top: 10px;
  border-radius: 50px;
  background-color: #363b48;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 20px;
}
.icons {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 30px;
  padding-top: 12px;
  border-radius: 40px;
  background-color: #eff1f4;
}
.quote-box {
  padding: 34px 40px 34px 98px;
  border-radius: 8px;
  background-color: white;
  background-image: url('../images/12-quotes.png');
  background-position: 8% 22%;
  background-size: 50px;
  background-repeat: no-repeat;
  text-align: left;
}
.quote {
  color: #2d303b;
  font-size: 15px;
  line-height: 24px;
}
.quote-thingy {
  display: block;
  margin-top: -2px;
  margin-right: auto;
  margin-left: 45px;
}
.by-section {
  text-align: left;
}
.person-icon {
  margin-right: 15px;
  float: left;
}
.location {
  font-family: Varela;
  color: #848999;
  font-size: 15px;
}
.logo-bottom {
  margin-right: 14px;
  float: left;
}
.footer-text {
  display: inline-block;
  margin-top: 11px;
  font-family: Montserrat, sans-serif;
  color: #7d8391;
  font-size: 15px;
}
.social-icon {
  width: 40px;
  height: 40px;
  margin-right: 7px;
  margin-left: 7px;
  padding-top: 9px;
  border-radius: 40px;
  background-color: #596073;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  text-align: center;
}
.social-icon:hover {
  background-color: #7f89a3;
}
.right-footer-col {
  text-align: right;
}
.nav-bar {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: transparent;
}
.nav-bar.menu2 {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  overflow-x: visible;
  overflow-y: visible;
  margin-top: 119px;
  margin-bottom: 56px;
}
.nav-bar.nav-sroll {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: auto;
  background-color: #bfbfbf;
}
.image-crop {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 302px;
  box-shadow: red 0px -11px 0px 0px inset;
  -webkit-transition: height 300ms ease;
  -o-transition: height 300ms ease;
  transition: height 300ms ease;
}
.image-crop:hover {
  height: 372px;
}
.button-group {
  margin-top: 25px;
  margin-bottom: 48px;
}
.center {
  text-align: center;
}
.brand-column {
  overflow-x: hidden;
  overflow-y: hidden;
}
.texto-hero {
  position: relative;
  left: 0%;
  top: 10%;
  right: 0%;
  bottom: 0%;
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  width: auto;
  height: 50%;
  min-height: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 0%;
  float: none;
  clear: none;
}
.text-block {
  padding-top: 11px;
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 8px;
  text-align: left;
  text-decoration: none;
}
.coluna-textos-apoio {
  margin-top: 22px;
  float: none;
}
.texto-apoio-2 {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 15%;
  overflow-x: visible;
  overflow-y: visible;
  height: auto;
  max-height: 800px;
  min-height: 0px;
  min-width: 0px;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
.img_center {
  position: absolute;
  left: 0px;
  top: 105px;
  right: 0px;
  bottom: 105px;
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  margin: auto;
}
.menu {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 33px;
  padding-bottom: 33px;
  background-color: transparent;
  direction: ltr;
  color: black;
  text-align: center;
}
.container-verdinhas {
  margin-bottom: 20px;
}
.container-1175 {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  height: 100%;
  min-height: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  background-image: url('../images/hero.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.button-text {
  padding-left: 0px;
  float: left;
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  line-height: 30px;
  font-weight: 800;
  text-align: left;
  text-decoration: underline;
}
.paragrafo-uma-linha {
  margin-bottom: 35px;
  padding-top: 64px;
}
.campo {
  margin-bottom: 20px;
  padding-top: 31px;
  padding-bottom: 31px;
  background-color: #56d6cd;
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 20px;
}
.campo.campo-msg {
  margin-bottom: 20px;
  padding-top: 31px;
  padding-bottom: 131px;
}
.submit-button {
  padding-top: 17px;
  padding-left: 0px;
  background-color: transparent;
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 800;
  text-align: left;
  text-decoration: underline;
}
.submit-button:hover {
  color: #919191;
}
.texto-footer {
  font-size: 11px;
  font-weight: 700;
  text-align: left;
}
.texto-footer-2 {
  color: black;
  font-size: 11px;
  text-align: right;
  text-decoration: none;
}
.container-footer {
  height: 21px;
}
.nav-anima {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #bfbfbf;
}
.anima {
  padding-top: 12px;
  padding-bottom: 13px;
  text-align: center;
}
.saiba-mais {
  color: black;
}
.saiba-mais:hover {
  color: #919191;
}
.donate {
  color: black;
}
.donate:hover {
  color: #919191;
}
.registrado {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 12px;
  margin-left: -4px;
  padding-bottom: 0px;
  font-size: 13px;
}
.facebook-link {
  color: black;
  text-decoration: none;
}
.facebook-link:hover {
  color: #919191;
}
.twiiter-link {
  color: black;
  text-align: right;
  text-decoration: none;
}
.twiiter-link:hover {
  color: #919191;
}
.f-link {
  text-decoration: underline;
}
.t-link {
  color: black;
  text-decoration: none;
}
.t-link:hover {
  color: #919191;
}
.verdinhas-link {
  color: black;
  text-decoration: none;
}
.verdinhas-link:hover {
  color: #919191;
}
@media (max-width: 991px) {
  .button.nav {
    margin-left: 11px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .button.big-green {
    margin-top: 148px;
  }
  .section.hero {
    min-height: 640px;
  }
  .nav-link {
    margin-right: 7px;
    margin-left: 7px;
    font-size: 13px;
  }
  .grey-icon {
    margin-top: 19px;
  }
  .content-column {
    padding-top: 0px;
  }
  .circle {
    height: 226px;
  }
  .frames {
    width: 75%;
  }
  .number {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    padding-top: 4px;
    font-size: 15px;
  }
  .texto-footer-2 {
    position: relative;
  }
}
@media (max-width: 767px) {
  h1 {
    margin-right: 10px;
    margin-left: 10px;
  }
  p {
    margin-right: 10px;
    margin-bottom: 8px;
    margin-left: 10px;
    padding-top: 24px;
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
  }
  .button {
    margin-bottom: 10px;
  }
  .button.nav {
    display: block;
    width: 60%;
    margin: 23px auto 17px;
  }
  .button.big-green {
    margin-top: 86px;
    margin-bottom: 62px;
  }
  .section {
    padding: 32px 15px 33px;
  }
  .section.hero {
    min-height: 0px;
    padding-top: 42px;
  }
  .section.centered {
    padding-bottom: 53px;
  }
  .section.footer {
    text-align: center;
  }
  .section.form {
    padding-top: 32px;
  }
  .company {
    display: inline-block;
    float: none;
  }
  .nav-column {
    padding-top: 19px;
    text-align: center;
  }
  .logo {
    margin-top: -14px;
    float: none;
  }
  .company-column {
    margin-top: 35px;
    margin-bottom: 23px;
    text-align: center;
  }
  .hero-heading {
    font-size: 28px;
    line-height: 34px;
  }
  .grey-icon {
    margin-top: 28px;
  }
  .content-column {
    padding-left: 0px;
  }
  .circle {
    display: inline-block;
    height: auto;
    border-radius: 10px;
  }
  .frames {
    width: 55%;
    margin-bottom: 19px;
  }
  .number {
    margin-bottom: 20px;
  }
  .quote-box {
    background-image: url('../images/12-quotes.png');
  }
  .by-section.first {
    margin-bottom: 35px;
  }
  .logo-bottom {
    margin-right: -1px;
    margin-bottom: 37px;
    float: none;
  }
  .footer-text {
    margin-bottom: 22px;
  }
  .social-icon.first {
    margin-left: 1px;
  }
  .right-footer-col {
    text-align: center;
  }
  .nav-bar {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .brand-column {
    text-align: center;
  }
  .texto-hero {
    top: 5%;
    height: auto;
  }
  .container-1175 {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    margin-right: 30px;
    margin-left: 30px;
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .button-text {
    margin-bottom: -4px;
  }
  .paragrafo-uma-linha {
    margin-right: 10px;
    margin-bottom: -9px;
    margin-left: 10px;
    padding-top: 24px;
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
  }
  .submit-button {
    margin-bottom: -10px;
    font-size: 15px;
  }
  .texto-footer {
    width: 200px;
    margin-left: 10px;
  }
  .texto-footer-2 {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 200px;
    margin-top: -20px;
    margin-right: 20px;
    padding-top: 0px;
  }
  .saiba-mais {
    margin-left: 10px;
    font-size: 15px;
  }
  .donate {
    margin-left: 10px;
    font-size: 15px;
  }
  .form-mobile {
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 52px;
  }
  .nav-mobile {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    background-color: transparent;
  }
  .nav-mobile-icon {
    text-align: right;
  }
  .menu-button {
    width: 100%;
    background-color: transparent;
  }
  .menu-button.w--open {
    background-color: #bfbfbf;
  }
  .menu-base {
    height: 100%;
    background-color: #bfbfbf;
  }
  .container-menu {
    background-color: transparent;
  }
  .logo-imagem {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    margin: auto;
  }
}
@media (max-width: 479px) {
  h1 {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: auto;
    margin: 10px 5px auto;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
  }
  p {
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 26px;
    font-size: 13px;
    line-height: 23px;
    text-align: justify;
  }
  .button {
    display: block;
  }
  .button.nav {
    width: 80%;
  }
  .button.big-green {
    margin-top: 0px;
    margin-right: 16px;
    margin-left: 16px;
  }
  .section {
    padding-right: 11px;
  }
  .section.hero {
    position: static;
    overflow-x: visible;
    overflow-y: visible;
    height: 100%;
    min-height: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .section.footer {
    padding-bottom: 12px;
  }
  .section.form {
    padding-top: 33px;
  }
  .nav-link {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
    line-height: 30px;
  }
  .hero-subhead {
    margin-bottom: 34px;
  }
  .grey-icon {
    margin-top: 34px;
  }
  .content-column {
    text-align: center;
  }
  .frames {
    width: 75%;
  }
  .quote-box {
    padding-left: 75px;
    background-image: url('../images/12-quotes.png');
    background-position: 8% 17%;
  }
  .texto-hero {
    position: static;
  }
  .coluna-textos-apoio {
    margin-top: auto;
  }
  .texto-apoio-2 {
    position: static;
  }
  .container-verdinhas {
    position: static;
    margin-bottom: 0px;
  }
  .container-1175 {
    position: absolute;
    margin-right: 20px;
    margin-left: 20px;
    background-size: contain;
  }
  .button-text {
    margin-bottom: -5px;
    padding-top: 6px;
  }
  .paragrafo-uma-linha {
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding-top: 26px;
    font-size: 13px;
    line-height: 23px;
    text-align: justify;
  }
  .campo {
    font-size: 13px;
  }
  .submit-button {
    margin-bottom: -16px;
    padding-top: 6px;
    padding-bottom: 14px;
    font-size: 13px;
  }
  .texto-footer {
    width: 100px;
    margin-left: 5px;
    text-align: left;
  }
  .texto-footer-2 {
    left: 0px;
    top: -20px;
    right: 0px;
    display: block;
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 149px;
    padding-left: 0px;
  }
  .saiba-mais {
    margin-left: 5px;
    font-size: 13px;
  }
  .donate {
    margin-left: 5px;
    font-size: 13px;
  }
  .registrado {
    bottom: 7px;
    font-size: 10px;
  }
  .form-mobile {
    margin-top: 31px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .menu-icon {
    position: fixed;
    top: 0px;
    right: 0px;
    margin-top: 25px;
    margin-right: 25px;
  }
  .nav-mobile {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    background-color: transparent;
  }
  .nav-mobile-icon {
    text-align: right;
  }
  .menu-button {
    width: 100%;
    background-color: transparent;
  }
  .menu-button.w--open {
    left: 0px;
    top: 0px;
    right: 0px;
    width: 100%;
    background-color: #bfbfbf;
  }
  .menu-base {
    position: static;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 100%;
    min-width: 0px;
    margin-right: auto;
    margin-left: auto;
    background-color: #bfbfbf;
  }
  .container-menu {
    height: 100%;
  }
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica_Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica_Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica_Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}